{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <span class="head_help">
        {% trans "Esqueceu sua senha? Entre com seu email, e enviaremos um email para reseta-la." %}
    </span>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Reset My Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <span class="head_help">
        <strong>Por favor caso tenha algum problema para redefinir sua senha.</strong>
            <a href="mailto:ageraseev@gmail.com">Entre em contato</a><p></p>
        </span>
        {% endblock content %}
